.root :global(body) {
  overflow-x: hidden;
}

.root :global(html)::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background-image: repeating-linear-gradient(
      135deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      22.5deg,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(
      90deg,
      hsl(194, 74%, 56%),
      hsl(266, 74%, 56%),
      hsl(338, 74%, 56%),
      hsl(50, 74%, 56%),
      hsl(122, 74%, 56%)
    );

  animation: hueShift 3s linear infinite;
}

@keyframes hueShift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
