@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.css";
@import "@mantine/dropzone/styles.css";

@theme {
  --color-black: oklch(12.9% 0.042 264.695);
  --color-white: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}
