@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-black: black;

  --color-gray: oklch(96.7% 0.001 286.375);
  --color-gray-dark: oklch(92% 0.004 286.32);

  --color-white: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}
