@import "tailwindcss";
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-black: black;

  --color-gray: oklch(96.7% 0.001 286.375);
  --color-gray-dark: oklch(92% 0.004 286.32);

  --color-white: #ffffff;

  --color-slash: var(--color-gray-400);
  --color-blow: var(--color-gray-400);
  --color-shoot: var(--color-gray-400);
  --color-neutral: var(--color-gray-400);
  --color-flame: var(--color-red-400);
  --color-water: var(--color-blue-400);
  --color-wood: var(--color-green-400);
  --color-shine: var(--color-yellow-400);
  --color-dark: var(--color-violet-400);
  --color-heal: var(--color-pink-400);
  --color-buff: var(--color-red-400);
  --color-debuff: var(--color-sky-400);
  --color-hp-height: #BDFF16;
  --color-hp-middle: #FFD916;
  --color-hp-low: #FF1622;
  --color-label: #BABABA;
  --color-border: #666666;

}

body::-webkit-scrollbar {
  display: none;
}
